
.preview-gallery-container {
    display: grid;
    grid-template-columns: 15dvw 15dvw 15dvw 15dvw;
    width: 60dvw;
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 20px;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30dvh;
    .title{
        position: absolute;
        text-align: center;
        color: var(--primary);
    }
    .img{
        width: 100%;
        height: 100%;
        z-index: 1;
        cursor: pointer;
    }
}


@media only screen and (max-width: 1440px ) {
    .preview-gallery-container {
        grid-template-columns: 20dvw 20dvw 20dvw;
    }
}

@media only screen and (max-width: 1024px ) {
    .preview-gallery-container {
        grid-template-columns: 30dvw 30dvw;
    }
}

@media only screen and (max-width: 768px ) {
    .preview-gallery-container {
        grid-template-columns: 60dvw;
    }
}

/* @media only screen and (max-width: 375px ) {
    .img-container {
        height: 20dvh;
    }
} */



