.nav-container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100dvw;
    z-index: 999;
    height: 123px;
    top: 0;
}


.navbar {
    display: flex;
    align-items: center;
    position: absolute;
    right: 12dvw;
}

.logo-container{
    height: 80px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10dvw;
}

.logo-container a:first-child {
    width: 180px ;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 180px;
    height: 80px;
    top: 2rem;
    display: flex;
    justify-content: center;
}

.nav-link {
    margin: 0 2rem;
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
    width: 100px;
    font-size: 18px;
    padding: 30px 0px;
    text-align: center;
}


.nav-link:hover{
    color: var(--secondary);
    border-bottom: 3px solid var(--secondary);
}

.nav-link.active-link {
    color: var(--secondary);
    border-bottom: 3px solid var(--secondary);
}


.nav-btn {
    padding: 5px;
    cursor: pointer;
    background:transparent ;
    border: none;
    outline: none;
    color: #242424;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}
@media only screen and (max-width: 1280px ) {
    .nav-link {
        margin: 0 1rem;
        width: 100px;
    }
}

@media only screen and (max-width: 1024px ) {
    
}





@media only screen and (max-width: 768px ) {
    .nav-btn {
        visibility: visible;
        opacity: 1;
        color: var(--primary);
        margin-right: 5rem;
    }
    .nav-container {
        position: fixed;
    }
    .navbar {
            position: fixed;
            top: -300vh;
            left: 0;
            height: 100%;
            width: 100dvw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            background-color:   var(--secondary);
            transition: 1s;
            z-index: 1000;
    }
    .responsive_nav {
        transform: translateY(300vh);
        .icon {
            visibility: hidden;
        }
        
    }
    .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    .nav-link {
        font-size: 1.5rem;
    }
    
}


@media only screen and (max-width: 645px ) {
    .logo {
        width: 150px;
        height: 90px;
        margin: 0rem 0rem;
        top: 2rem;
    }
}

@media only screen and (max-width: 425px ) {
    .nav-btn {
        margin-right: 3rem;
    }
}
