.page-hero-container{
    padding: 123px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.page-hero-cover {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
}






.page-hero-title {
    position: absolute;
    color: #fff;
    font-style: italic;
    font-size: 58px;
    font-weight: 300;
}