.contact-form-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: #f2f2f2;
}

.contact-form-section-headline {
    width: 60dvw;
    border-bottom: 2px solid var(--secondary);
    text-align: center;
    padding: 32px 0px;
    margin: 1rem 0rem;
    font-size: 48px;
    color: var(--primary);
}

.form-container {
    margin: 5rem 0rem;
    width: 60dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-side-text-container {
    width: 30dvw;
    height: 600px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.form-side-img {
    width: 30dvw;
    height: 140px;
    padding-bottom: 20px;
}

.form-side-text {
    width: 20dvw;
    font-size: 18px;
    color: #000080;
    font-weight: bold;
}

@media only screen and (max-width: 1440px ) {
    .form-side-text-container{
        display: none;
    }
}

@media only screen and (max-width: 1024px ) {
    .contact-form-section-headline {
        width: 90dvw;

    }
}

@media only screen and (max-width: 425px ) {
    .contact-form-section-container{
        background-color: var(--primary);
    }
    .contact-form-section-headline {
        color: #fff;
    }
    .form-container {
        margin: 2rem 0rem 0rem 0rem;
    }
}