.footer-section-container {
    width:100dvw ;
    height: 50dvh;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    min-height: 100%;
    position: relative;
}

.footer-container {
    height: 50dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;

    
    .footer-top-container{
        display: grid;
        background-color: var(--primary);
        width: 80dvw;
        border-bottom: 2px solid var(--secondary);
        height: 400px;
        color: #fff;
        grid-template-columns: 15dvw 17.5dvw 17.5dvw 30dvw;
        justify-content: center;
        align-items: center;
        .logo{
            width: 15dvw;
        }
        .footer-list-container{
            height: 240px;
            margin: 60px 0px 0px 0px;
            padding: 0;
            span{ 
                font-size: 24px;
                font-weight: 500;
            }
            li {
                padding: 5px;
                font-size: 18px;
                font-weight: 300;
                width: 15dvw;
                a {
                    color: var(--secondary);
                    text-decoration: none;
                }
            }
        

        }
        .footer-map-container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px;
            width: 30dvw;
            margin-left: 50px;
            
        }
    }
    .footer-bottom-container {
        background-color: var(--primary);
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80dvw;
        height: 150px;
        color: #fff;
        .footer-bottom-text {
            padding-top: 10px;
            text-align: center;
            span{
                color: var(--secondary);
            }
        }
        .btn {
            margin-top: 10px;
            border-bottom: 2px solid var(--secondary);
            color: var(--secondary);
        }
        .btn :hover {
            background: var(--primary);
        }
        .footer-bottom-btn-container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80dvw;
        }
    }
}

@media only screen and (max-width: 1440px ) {
    .footer-container {
       .footer-top-container{
            width: 100dvw;
       }
       .footer-bottom-container {
            width: 100dvw;
            .footer-bottom-btn-container{
                width: 100dvw;
            }
       }
    }
}

@media only screen and (max-width: 1280px ) {
    .footer-container {
        .footer-top-container{
            display: flex;
            .logo {
                display: none;
            }
            .footer-list-container{
                span{ 
                    font-size: 22px;
                }
                li {
                    font-size: 16px;
                    width: 20dvw;
                }
            }
        }
     }
}

@media only screen and (max-width: 1024px ) {
    .footer-container {
        .footer-top-container{
            display: flex;
            justify-content:center;
            .logo {
                display: none;
            }
            .footer-list-container{
                /* padding: 0rem 2rem; */
                span{ 
                    font-size: 24px;
                }
                li {
                    font-size: 16px;
                }
            }
        }
        .footer-map-container {
            position: absolute;
        }
    }
}

@media only screen and (max-width: 768px ) {
    .footer-container {
        .footer-top-container{
            .logo {
                display: none;
            }
            .footer-list-container{
                li {
                    font-size: 14px;
                }
            }
        }
     }
}

@media only screen and (max-width: 425px ) {
    .footer-container {
        .footer-top-container{
            .footer-list-container{
                span{ 
                    font-size: 22px;
                }
                li {
                    font-size: 16px;
                    width: 20dvw;
                }
            }
        }
     }
     .footer-bottom-container {
        .footer-bottom-text {
            font-size: 12px;
            span{
                color: var(--secondary);
                font-size: 12px;
            }
        }
    }
}